<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>初始化</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link rel="stylesheet" href="__CSS__/behind/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>

<div class="row">
	<div class="col-lg-12">
		<section class="panel">
			 <div class="table-responsive col-lg-6 col-lg-offset-3" tabindex="1" style="overflow: hidden; outline: none;" >
				<header class="panel-heading">
					<h3>后台初始化</h3>
				</header>
				<div class="panel-body">
					<form role="form" method="post">
						<div class="form-group">
							<label for="admin_user">管理员账号</label>
							<input type="text" class="form-control" required id="admin_user" name="admin_user" placeholder="管理员账号">
						</div>
						<div class="form-group">
							<label for="admin_pass">管理员密码</label>
							<input type="password" class="form-control" required id="admin_pass" name="admin_pass" placeholder="管理员密码">
						</div>
						<div class="form-group">
							<label for="admin_pass2">重复密码</label>
							<input type="password" class="form-control" required id="admin_pass2" placeholder="重复密码">
						</div>
						<div class="form-group">
							<label for="admin_name">管理员姓名</label>
							<input type="text" class="form-control" required id="admin_name" name="admin_name" placeholder="管理员姓名">
						</div>
						<div class="form-group">
							<label for="admin_phone">管理员手机号</label>
							<input type="number" required class="form-control" id="admin_phone" name="admin_phone" placeholder="管理员手机号">
						</div>

						<button type="submit" class="btn btn-info" style="float: right">提交</button>
					</form>

				</div>
			</div>
		</section>
	</div>
</div>
<script src="__JS__/behind/jquery.min.js"></script>
<script src="__LAYER__/layer.js"></script>
</body>
<script>
	$(function(){
	    $('button').on('click',function(){
	        var res = true;
	        $("input[type!='checkbox']").each(function(){
	            if($(this).val() == '') {
	                res = false;
				}
			})
			if($('#admin_pass2').val() != $('#admin_pass').val()) {
                layer.tips('两次输入密码不一致', '#admin_pass2',{
                    tipsMore: true
                });
                res = false;
			}
			var phone = $('#admin_phone').val();
	        if(!(/^1[34578]\d{9}$/.test(phone))) {
	            res = false;
                layer.tips('手机号码格式错误', '#admin_phone',{
                    tipsMore: true
                });
            }
            if(res === false) {
	            return false;
			}
			$.ajax({
				type:"POST",
				url:"{:url('base/create_admin')}",
				dataType:"json",
				data:{
					admin_name:$('#admin_name').val(),
					admin_pass:$('#admin_pass').val(),
					admin_phone:$('#admin_phone').val(),
					admin_user:$('#admin_user').val()
				},
				error:function(e){
					layer.msg('请求错误');
				},
				beforeSend:function(e) {
					layer.msg('初始化中..请稍后..',{
						icon:16,
						shade:0.01,
						time:10000
					});
				},
				success:function(e) {
					if(e.code != 0) {
						layer.open({
							content:e.msg,
							scrollbar:false
						})
					}
					else {
						layer.msg('初始化成功，正在跳转...');
						setTimeout(function(){
							location.href="{:url('index/index')}";
						},2000)
					}	
				}
			})
			return false;
		})
	}())
</script>
</html>