{extend name="base:layout"}

{block name="body"}
    <!-- page start-->
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="table-responsive col-lg-6" tabindex="1" style="overflow: hidden; outline: none;" >
                       <form role="form" method="post">
                            <div class="form-group">
                                <label for="admin_user">管理员账号</label>
                                <input type="text" class="form-control" required id="admin_user" name="admin_user" placeholder="管理员账号">
                            </div>
                            <div class="form-group">
                                <label for="admin_pass">管理员密码</label>
                                <input type="password" class="form-control" required id="admin_pass" name="admin_pass" placeholder="管理员密码">
                            </div>
                            <div class="form-group">
                                <label for="admin_pass2">重复密码</label>
                                <input type="password" class="form-control" required id="admin_pass2" placeholder="重复密码">
                            </div>
                            <div class="form-group">
                                <label for="admin_name">管理员姓名</label>
                                <input type="text" class="form-control" required id="admin_name" name="admin_name" placeholder="管理员姓名">
                            </div>
                            <div class="form-group">
                                <label for="admin_phone">管理员手机号</label>
                                <input type="number" required class="form-control" id="admin_phone" name="admin_phone" placeholder="管理员手机号">
                            </div>

                            <button type="submit" class="btn btn-info">提交</button>
                        </form>

                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- page end-->


{/block}

{block name="js"}
<script>

</script>
{/block}


