{extend name="base:layout"}

{block name="body"}
    <!-- page start-->
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <div class="panel-body">
                    <form action="" class="form-horizontal" method="get">
                        <div class="row">
                            <div class="form-group col-lg-5">
                                <label for="add_reg_start_time" class="col-sm-4 control-label">注册开始时间</label>
                                <div class="col-sm-8">
                                    <input type="date" name="add_reg_start_time" class="form-control datepicker" id="add_reg_start_time" placeholder="注册开始时间" value="{$where.add_reg_start_time|default=''}">
                                </div>
                            </div>

                            <div class="form-group col-lg-5">
                                <label for="add_reg_end_time" class="col-sm-4 control-label">注册结束时间</label>
                                <div class="col-sm-8">
                                    <input type="date" name="add_reg_end_time"class="form-control datepicker" id="add_reg_end_time" placeholder="注册结束时间" value="{$where.add_reg_end_time|default=''}">
                                </div>
                            </div>
                        </div>

                        <div class="row">


                        <div class="row">
                            <div class="col-lg-5 col-lg-offset-1">
                                <input type="hidden" name="search" value="1">
                                <button type="submit" class="btn btn-primary "> 查询</button>
                                <button class="btn btn-default reset" type="reset"> 重置</button>
                            </div>
                        </div>

                    </form>
                    <hr/>


                    <div class="table-responsive col-lg-10 col-lg-offset-1" tabindex="1" style="overflow: hidden; outline: none;" >
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>名称</th>
                                    <th>URL</th>
                                    <th>上级菜单</th>
                                    <th>排序</th>
                                    <th>状态</th>
                                    <th>添加时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {volist name="menu" id="m"}
                                    <tr>
                                        <td>{$m.id}</td>
                                        <td>{$m.name}</td>
                                        <td>{$m.url}</td>
                                        <td>{$m.parent_name|default="顶级菜单"}</td>
                                        <td>{$m.sort}</td>
                                        <td>{$m.status}</td>
                                        <td>{$m.add_time|date="Y-m-d H:i:s",###}</td>
                                        <td>
                                        </td>
                                    </tr>
                                {/volist}
                            </tbody>
                        </table>

                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- page end-->


{/block}

{block name="js"}
<script>

</script>
{/block}


