<!DOCTYPE HTML>
<html>
<head>
<title>{$system.system_name|default="后台管理"} - 登录</title>
<meta charset="UTF-8" />
<meta name="Author" content="heihei">
<link rel="stylesheet" type="text/css" href="__CSS__/behind/reset.css">
<link rel="stylesheet" type="text/css" href="__CSS__/behind/structure.css">
</head>

<body>
<form class="box login">
	<header style="line-height: 35px;height: 35px;text-align: center;background-color: #000;">
		<h1 style="font-size: 20px;color: #ffe;">{$system.system_name|default="后台管理"} - 登录</h1>
	</header>
	<fieldset class="boxBody" style="width: 100%;">
	  <label>用户名</label>
	  <input type="text" tabindex="1" placeholder="" name="admin_user" required>
	  <label>密码</label>
	  <input type="password" tabindex="2"  name="admin_pass" required>
	  <label>验证码</label>
	  <div class="row" style="height: 100%;">
	  		<input type="text" tabindex="1" placeholder="" name="verify" required style="width: 50%;display: inline-block;">
	 		<div class="row" style="border: 1px solid black;width: 30%;display: inline-block;margin-top:0px;position: absolute;margin-top: 8px;">
	 			<img id="verify_img" src="{:url('verify')}" style="width: 100%;">
	 		</div>
	  </div>
	  
	</fieldset>
	<footer>
	  <label><input type="checkbox" id="remember" tabindex="3">remember me</label>
	  <input type="button" class="btnLogin" value="Login" tabindex="4">
	</footer>
</form>
<footer id="main">
  <a href="https://github.com/hiRainn/tp5-rbac">支持请给个star</a> | <a href="#">code by heihei</a>
</footer>
</body>
<script src="__JS__/behind/jquery.min.js"></script>
<script src="__LAYER__/layer.js"></script>
<script type="text/javascript">
	$(function(){
		if(typeof window.localStorage.getItem('admin_user') == 'string') {
			$('#remember').attr('checked',true)
			$("input[name='admin_user']").val(window.localStorage.getItem('admin_user'));
			$("input[name='admin_pass']").val(window.localStorage.getItem('admin_pass'));
		}
		$('.btnLogin').on('click',function(){
			var data = {
				admin_user :$("input[name='admin_user']").val(),
				admin_pass :$("input[name='admin_pass']").val(),
				verify :$("input[name='verify']").val(),			
			}
			var url = "{:url('sign/login')}";
			$.post(url,data,function(res){
				if(res.code != 0) {
					layer.msg(res.msg);
					$('img').each(function(){
						$(this).click();
					})
					return false;
				}
				if(!$('#remember').get(0).checked) {
					window.localStorage.clear();
				}
				else {
					window.localStorage.setItem('admin_user' ,data.admin_user);
					window.localStorage.setItem('admin_pass' ,data.admin_pass);
				}
				layer.msg('登录成功');
				location.href="{:url('index/index')}"
			},'json')
			return false;
		})

		$('img').on('click',function(){
			$(this).attr('src','/captcha?id='+Date.parse(new Date())/1000);
		})
	})
</script>
</html>
