{extend name="base:layout"}

{block name="body"}
<!-- page start-->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">

                <div class="table-responsive col-lg-10 col-lg-offset-1" tabindex="1" style="overflow: hidden; outline: none;" >
                    <div class="table-responsive col-lg-12" tabindex="1" style="overflow: hidden; outline: none;" >
                        {auth name="role/add_admin_user"}
                        <div class="row">
                            <a href="{:url('role/add_admin_user')}" class="btn btn-primary "> 新增用户</a>
                        </div>
                        {/auth}
                    </div>
                    <hr>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>账号</th>
                            <th>姓名</th>
                            <th>手机号</th>
                            <th>角色</th>
                            <th>状态</th>
                            <th>添加人</th>
                            <th>上次登录时间</th>
                            <th>添加时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name="user" id="u"}
                        <tr>
                            <td>{$u.id}</td>
                            <td>{$u.admin_user}</td>
                            <td>{$u.admin_name}</td>
                            <td>{$u.admin_phone|}</td>
                            <td>{$u.role_name}</td>
                            <td>{$u.status_name}</td>
                            <td>{$u.create_user_name}</td>
                            <td>{$u.last_login|date="Y-m-d H:i:s",###}</td>
                            <td>{$u.add_time|date="Y-m-d H:i:s",###}</td>
                            <td>
                                {if condition="session('user.id') neq $u.id"}
                                {auth name="role/edit_admin_user"}
                                <a class="btn btn-info btn-xs" href="{:url('edit_admin_user',['id'=>$u.id])}">编辑</a>
                                {/auth}

                                {auth name="role/disable_admin_user"}
                                {if condition="$u.status eq 0"}
                                <a class="btn btn-success btn-xs disable" data-id="{$u.id}" data-status="{$u.status}">禁用</a>
                                {elseif condition="$u.status eq 1" /}
                                <a class="btn btn-default btn-xs disable" data-id="{$u.id}" data-status="{$u.status}">激活</a>
                                {/if}
                                {/auth}

                                {auth name="role/del_admin_user"}
                                {if condition="$u.status neq 9"}
                                <a class="btn btn-danger btn-xs del_admin_user" data-id="{$u.id}">删除</a>
                                {else/}
                                <a class="btn btn-danger btn-xs disabled" data-id="{$u.id}">已删除</a>
                                {/if}
                                {/auth}
                                {/if}
                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>

                </div>
            </div>
        </section>
    </div>
</div>
<!-- page end-->


{/block}

{block name="js"}
<script>
    $(function(){
        $('.disable').on('click',function(){
            var url = "{:url('disable_admin_user')}";
            var data = {
                id:$(this).attr('data-id'),
                status:$(this).attr('data-status')
            }
            if(data.id == false || data.status != 0 && data.status != 1) {
                layer.alert('非法参数');
                return false;
            }
            $.post(url,data,function(e){
                if(e.code == 0) {
                    layer.msg('操作成功');
                    setTimeout('location.reload()',1000);
                }
                else{
                    layer.alert(e.msg)
                }
            },'json')
        })

        $('.del_admin_user').on('click',function(){
            var _this = this;
            layer.confirm('删除后将无法恢复，是否确认删除？',{
                btn:['确定','取消']
            },function(){
                var data = {
                    id:$(_this).attr('data-id')
                }
                if(data.id == false) {
                    layer.alert('非法参数');
                    return false;
                }
                var url = "{:url('role/del_admin_user')}";
                $.post(url,data,function(e){
                    if(e.code == 0 ) {
                        layer.msg('操作成功');
                        setTimeout("location.reload()",1000);
                    }
                    else {
                        layer.msg(e.msg);
                    }
                },'json')
            },function(){
                layer.msg('取消操作',{time:500})
            });
        })
    }())
</script>
{/block}

