{extend name="base:layout"}

{block name="body"}
<!-- page start-->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">

                <div class="table-responsive col-lg-10 col-lg-offset-1" tabindex="1" style="overflow: hidden; outline: none;" >
                    <div class="row">
                        <button type="submit" class="btn btn-primary "> 查询</button>
                        <button class="btn btn-default reset" type="reset"> 重置</button>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>账号</th>
                            <th>姓名</th>
                            <th>手机号</th>
                            <th>角色</th>
                            <th>状态</th>
                            <th>添加人</th>
                            <th>上次登录时间</th>
                            <th>添加时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name="user" id="u"}
                        <tr>
                            <td>{$u.id}</td>
                            <td>{$u.admin_user}</td>
                            <td>{$u.admin_name}</td>
                            <td>{$u.admin_phone|}</td>
                            <td>{$u.role_name}</td>
                            <td>{$u.status_name}</td>
                            <td>{$u.create_user_name}</td>
                            <td>{$u.last_login|date="Y-m-d H:i:s",###}</td>
                            <td>{$u.add_time|date="Y-m-d H:i:s",###}</td>
                            <td>
                                {auth name="role/disable_user"}
                                    <a class="confirm" href="{:url('role/disable_user')}" target="_blabk">
                                        {if condition="$u.status eq 0"}
                                            锁定
                                        {elseif condition="$u.status eq 1"}
                                            解锁
                                        {/if}
                                    </a>
                                {/auth}
                                {auth name="role/del_user"}
                                    <a class="comfirm" href="{:url('role/del_user')}">删除角色</a>
                                {/auth}
                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>

                </div>
            </div>
        </section>
    </div>
</div>
<!-- page end-->


{/block}

{block name="js"}
<script>
    $(function(){
        $('.confirm').on('click',function(){
            layer.confirm('是否确定操作？',{
                btn:['确定','取消']
            },function(){
                var data = $(this).attr('ajax-data');
                if(data == 'undefined' || data == false ) {
                    layer.msg('没有数据');
                    return false;
                }
                var url = $(this).attr('href');
                $.post(url,data,function(e){
                    if(e.code == 0 ) {
                        layer.msg('操作成功');
                        setTimeout("location.reload()",1000);
                    }
                    else {
                        layer.msg(e.msg);
                    }
                },'json')
                return false;
            },function(){
                layer.msg('取消操作',{time:500})
            });
            return false;
        })
    }())
</script>
{/block}

